name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # or your main branch name

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (if using as submodule)
          fetch-depth: 0   # Fetch all history for .GitInfo and lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'  # or specify a version
          config-path: config # Specify the directory containing hugo.toml

      - name: Install Dependencies
        run: npm install

      - name: Run Project Setup (if needed)
        if: github.event_name == 'push' # Only run on push events
        run: |
          if [ -f scripts/projectSetup.js ]; then
            npm run project-setup
          fi

      - name: Build site
        run: hugo

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          force_orphan: true # creates a new gh-pages branch if one doesn't exist
